@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color1:rgb(24, 24, 94);
    --color2:#3E6990;
    --color3:#f2f2f2;
    --color4:#0056b3;
    --color5: #ddd;
    --fontText:"Poppins", sans-serif;
}

* {
    margin: 0;
	padding: 0;
	border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

p,a,h1,button,.main_submit{
    font-family: var(--fontText);
    font-weight:500;
    color: var(--color1);
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
}
/* 
=================================
Header
=================================
*/
header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    padding: 10px;
    z-index: 10;
    position: relative;
}

.header_container_img {
    grid-column-start: 1;
    justify-content: start;
}

.header_container_img img {
    width: 6.25rem;
}

.header_container_nav {
    grid-column-start: 2;
    display: flex;
    gap: 20px;
}

.header_container_nav a {
  display: inline-block;
  position: relative;
  padding-bottom: 4px;
}

.header_container_nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--color1);
  bottom: 0;
  left: 50%;
  transition: all 0.3s ease-in-out;
}

.header_container_nav a:hover::after {
    width: 100%;
    left: 0;
}
/* 
=================================
Main
=================================
*/
main {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

h1 {
    text-align: left;
}

.main_container {
    display: flex;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;
}

.main_img {
    width: 50%;
    display: flex;
    justify-content: center;
    max-width: 400px;
}

.main_img img {
    display: block;
    max-width: 100%;
    height: auto;
}

.main_form {
    text-align: center;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.main_form input,select{
    height: 40px;
    width: 80%;
    border-radius: 8px;
}

input,select {
    border: 1.5px solid var(--color5) ;
    padding-left: 5px;
}

.main_submit {
    background-color: var(--color1);
    color: white;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
}

.main_input:focus,.main_form select:focus {
    outline: none;
    border-color: var(--color1);
}

.main_submit:hover{
    background-color: var(--color4);
}

/* 
=================================
Footer
=================================
 */
 footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-color: var(--color1);
    padding: 8px 6px ;
}

.footer_container_redes{
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    align-items: center;
}

.footer_container_redes a {
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_links {
    display: flex;
    gap: 8px;
}

.footer_container_redes img {
    height: 30px;
    transition: transform 0.4s ease-in-out;
}

.footer_container_redes img:hover {
    transform: scale(1.20);
}

.footer_container_redes p {
    color: white;
}

.footer_container_img,.footer_container_img img {
    height: 30px;
}

.footer_container_img {
    justify-self: end;
}

.footer_container_copyright {
    text-align: center;
}

.footer_container_copyright p {
    font-size: 10px;
    color: white;
}

@media (max-width: 768px) {
    header{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .main_container {
        flex-direction: column;
        gap: 5px;
        padding: 20px;
        width: 100%;
    }

    .main_img {
        height: 28%;
        margin-bottom: 10px;
    }
    
    .main_submit {
        margin: 20px;
    }

    .main_img,.main_form {
        justify-content: center;
        align-items: center;
        width: 80%;
        max-width: none;

    }

    .main_form input,select,.main_submit {
        width: 100%;
    }
    
    h1 {
        font-size: 25px;
        text-align: center;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
    .footer_container_redes{
        flex-direction: column;
    }
    .footer_links {
        gap: 10px;
    }
    .footer_container_redes img {
        height: 35px;;
    }
}

@media (max-width: 1028px) {
    footer {
        gap: 10px;
    }
}
